<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Просмотр фототчёта {{ id }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-6 shadow mx-auto">
            {% for image in images %}
                <img src="{{ image.image.url }}" alt="1" class="img-fluid mx-auto my-2 rounded">
                <hr>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>